langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-chroma

python-dotenv
ipykernel
pypdf
pymupdf
bs4
arxiv
wikipedia
chromadb
sentence_transformers
faiss-cpu
duckdb
pandas
openai
duckduckgo-search==5.3.1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
