name: Sync to Hugging Face hub

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Configure Git
        run: |
          git config --global user.email "savvy.techie.1910@gmail.com"
          git config --global user.name "savvy1910"

      - name: Add Hugging Face remote and rebase
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://divy-techie:${HF_TOKEN}@huggingface.co/spaces/divy-techie/search_engine_with_agents
          git fetch hf main || echo "No remote branch yet"
          git rebase hf/main || echo "Nothing to rebase"

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push https://divy-techie:${HF_TOKEN}@huggingface.co/spaces/divy-techie/search_engine_with_agents main
