name: Sync to Hugging Face hub

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Configure Git
        run: |
          git config --global user.email "savvy.techie.1910@gmail.com"
          git config --global user.name "savvy1910"

      - name: Pull from Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add hf https://divy-techie:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/divy-techie/search_engine_LLM
          git pull hf main --allow-unrelated-histories || echo "No remote changes to merge"

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push hf main




